<div id="<%= dom_id project %>">
  <div class="text-gray-700 font-bold text-2xl">
    <%= project.name %>
  </div>

  <div class="my-5 flex">
    Current status: 
    <span class="block font-medium mb-1 ml-2"><%= project.status_display %></span>
  </div>

</div>
